:root {
  --color-primary: #a3b18a;
  --color-primary-accent: #ecf2e7;
  --color-light: #fdfbff;
  --color-dark: #2d2d2d;
  --color-grey: #636363;
  --color-black: #000;
  --color-white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container-full {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
